.my-cart {
  background-color: $color-grey-light;
  padding: 2rem 0;

  .cart {
    background-color: $color-white;
    padding: 1rem;
    // margin: 2rem;
    h3 {
      letter-spacing: 0.5px;
      font-weight: 600;
    }

    .cart-item {
      border-bottom: 2px solid #ccc;
      padding-bottom: 0.8rem;
      margin-top: 1.5rem;

      span {
        color: $color-grey-dark-6;
        font-weight: 600;
        margin-bottom: 1rem;
        font-size: 0.8rem;
        text-align: center;
      }
    }

    .cart-content {
      margin-top: 1rem;

      .counter {
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
          display: flex;

          .content-img {
            border: 1px solid #e5e5e5;
            margin-right: 1rem;
            height: 5rem;
            width: 5rem;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .details {
            p {
              margin-bottom: 0.5rem;
              font-size: 0.8rem;
            }

            .bold {
              // font-weight: 600;
              // margin-bottom: 0.5rem;
              // font-size: 0.8rem;
              a {
                text-decoration: none;
                font-weight: 600;
                margin-bottom: 0.5rem;
                font-size: 0.8rem;
                color: $color-black;

                a:link,
                a:visited {
                  color: $color-black;
                  text-decoration: none;
                }
              }
            }

            .remove {
              &:hover {
                cursor: pointer;
              }
              span {
                color: $color-grey-dark-6;
                font-size: 0.7rem;
              }
            }
          }
        }

        .control {
          display: flex;

          span {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: $color-grey-light-1;
            &:hover {
              cursor: pointer;
            }

            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 1rem;
            }

            &:nth-child(2) {
              width: 2.5rem;
              border-radius: 50px;
              background-color: $color-white;
              border: 1px solid $color-grey-light-1;
            }

            &:not(:last-child) {
              margin-right: 0.3rem;
            }
          }
        }
      }

      .price {
        font-weight: 600;
        font-size: 1.1rem;
      }
    }
  }
  .summery {
    background-color: $color-white;
    padding: 1rem 0 0;
    position: sticky;
    top: 85px;

    h3 {
      font-weight: 600;
      letter-spacing: 0.5px;
      padding: 0 1rem;
    }

    ul {
      list-style: none;
      li {
        padding: 0 1rem;
        a {
          text-decoration: none;
          display: flex;
          justify-content: space-between;
          padding: 1rem 0;
          letter-spacing: 0.5px;
          border-bottom: 1px solid $color-grey-dark-8;

          .text {
            color: $color-black;
          }
          .num {
            color: $color-secondary;
          }
          .number {
            color: $color-primary;
            font-weight: 600;
          }

          a:link,
          a:visited {
            color: $color-black;
            text-decoration: none;
          }
        }
        .end {
          border-bottom: none;
        }
      }
    }
    .btn-ckeckout {
      background-color: $color-primary;
      color: $color-white;

      padding: 1rem 8.7rem;
      text-align: center;
      font-size: 1rem;
      letter-spacing: 0.5px;
      text-decoration: none;
    }
  }
}

////////////////////////////////////////////////////////
.checkout {
  background-color: $color-grey-light;
  padding: 1rem;

  .checkout-content {
    h3 {
      font-weight: 600;
      letter-spacing: 0.5px;
      padding: 0 4.5rem;
    }

    padding-top: 2rem;
    background-color: $color-white;

    .theme--light.v-stepper {
      background-color: none;
    }

    .v-stepper {
      box-shadow: none;
      background-color: none;

      .v-stepper__header {
        // padding: 0 23%;
        box-shadow: none;

        .v-stepper__step {
          flex-basis: 173px;

          .v-stepper__step__step {
            background-color: $color-primary;
          }

          .v-stepper__label {
            font-size: 1.2rem;
            color: $color-primary;
            font-weight: 600;
            letter-spacing: 1px;
          }

          &.v-stepper__step--inactive {
            opacity: 0.5;

            .v-stepper__label {
              font-weight: 400;
            }
          }
        }

        .v-divider {
          border-width: thick 0 0 0;
        }
      }

      .v-stepper__items {
        .v-stepper__content {
          padding: 0;
        }
      }
    }

    .checkout-form {
      padding: 4rem;

      .form-group {
        // margin-top: 1rem;
        position: relative;

        label {
          font-size: 0.9rem;
          color: $color-grey-dark-6;
          font-weight: 600;
          letter-spacing: 0.5px;
        }

        .form-control {
          border: 1px solid $color-grey-dark-6;
          background-color: transparent;
          font-size: 1rem;
          color: $color-black;

          &:focus {
            box-shadow: none;
          }

          &::placeholder {
            color: $color-black;
            letter-spacing: 1px;
          }
        }
      }

      .country-type {
        border-bottom: 2px solid $color-grey-dark-6;
        margin-top: 1rem;

        .country {
          color: $color-grey-dark-6;
          // font-weight: 600;
        }

        .checkbox {
          margin-top: 1rem;
          margin-bottom: 2rem;
        }

        .country-name {
          font-weight: 600;
          font-size: 0.9rem;
          margin-left: 0.5rem;
        }
      }

      .delivery-option {
        h4 {
          font-weight: 600;
          letter-spacing: 0.5px;
          font-size: 1.2rem;
        }

        margin-top: 2rem;

        .radio-button {
          margin-top: 1rem;

          .custom-control {
            .custom-control-label {
              // color: violet;
              font-weight: 600;
              font-size: 0.9rem;

              .busines-day {
                // color: yellow;
                font-weight: 100;
                margin-left: 1rem;
              }
            }
          }
        }
      }
    }
    .buttons-section {
      background-color: $color-grey-dark-9;
      padding: 1.5rem 4rem;
      display: flex;
      justify-content: flex-end;
      .btn {
        background-color: $color-primary;
        color: $color-white;
        border-radius: 3rem;
        padding: 0.5rem 3.5rem;
        font-weight: 600;
        &:focus {
          // outline: none;
          box-shadow: none;
        }
      }
    }
    .buttons-section-step {
      background-color: $color-grey-dark-9;
      padding: 1.5rem 4rem;
      display: flex;
      justify-content: space-between;
      .perv-btn {
        background-color: $color-white;
        color: $color-primary;
        border-radius: 3rem;
        padding: 0.5rem 3.5rem;
        font-weight: 600;
        &:focus {
          // outline: none;
          box-shadow: none;
        }
      }
      .next-btn {
        background-color: $color-primary;
        color: $color-white;
        border-radius: 3rem;
        padding: 0.5rem 3.5rem;
        font-weight: 600;
        &:focus {
          // outline: none;
          box-shadow: none;
        }
      }
    }

    ///////////////////////////confirmation section
    .order-confirmation {
      // border-bottom: 2px solid $color-grey-dark-6;
      padding: 2.5rem;

      h5 {
        font-size: 1rem;
        font-weight: 600;
      }

      .order-summery-head {
        padding: 1rem;

        span {
          color: $color-grey-dark-6;
          font-weight: 600;
          font-size: 0.9rem;
        }
      }

      .order-summery-content {
        padding: 1rem;

        &:nth-last-child(even) {
          background: $color-grey-light;
        }

        .num {
          font-weight: 600;
        }

        .type {
          font-size: 1.1rem;
          letter-spacing: 0.5px;
        }

        .price {
          color: $color-primary;
          font-weight: 600;
        }
      }

      .details {
        display: flex;
        flex-direction: column;

        &:nth-last-child(2) {
          flex-basis: 10%;
        }

        h6 {
          font-size: 0.9rem;
          font-weight: 600;

          margin: 1rem 0;
          color: $color-grey-dark-6;
        }

        p {
          font-size: 0.9rem;
          span {
            display: block;
          }
        }
      }
    }

    .other-details {
      display: flex;
      padding: 1.5rem 0;
      margin: 1.5rem 0.5rem;
      border-top: 2px solid  $color-grey-dark-6;
      .subtotal {
        display: flex;
        flex-direction: column;
        flex-basis: 10%;

        .total {
          color: $color-grey-dark-6;
          font-weight: 600;
          font-size: 0.9rem;
        }
        .num {
          font-size: 0.8rem;
        }
      }

      .shiping {
        display: flex;
        flex-direction: column;
        flex-basis: 10%;

        .ship {
          color: $color-grey-dark-6;
          font-weight: 600;
          font-size: 0.9rem;
        }
        .free {
          font-size: 0.8rem;
        }
      }

      .grandtotal {
        display: flex;
        flex-direction: column;

        .grand {
          color: $color-grey-dark-6;
          font-weight: 600;
          font-size: 0.9rem;
        }
        .total-num {
          font-weight: 600;
          font-weight: 1.2rem;
        }
      }
    }
    ////////////////////////////////////////////////////////payment-section///////////
    .payment {
      .payment-images {
        display: flex;
    justify-content: space-between;
    padding: 0 4rem;
      }
      .form-section {
        padding: 4rem;
        p {
          color: $color-night-2;
        }
        label {
          color: $color-grey-dark-6;
        }
        .form-control {
          &::placeholder {
            color: $color-grey-dark-6;
          }
          &:focus {
            box-shadow: none;
            outline: none;
            border-color: $color-primary;
          }
        }
      }
    }
    ////////////////////////////////////////////
    .sucess {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      //     width: 50%;
      //     position: absolute;
      //     top: 50%;
      //     left: 50%;
      //     transform: translate(-50%, -50%);
      //     background-color: $color-white;
      padding: 2rem;
      img {
        margin-right: 1.5rem;
      }
      h2 {
        color: $color-night;

        font-weight: 600;
        font-size: 2.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
      p {
        color: $color-night-2;
      }
      button {
        background-color: $color-primary;
        color: $color-white;
        padding: 1rem 3rem;
        border-radius: 3rem;
        margin-top: 2rem;
        font-weight: 600;
        font-size: 0.9rem;
      }
    }
  }
}
