.vendor-profile {
  background-color: $color-grey-light;
  padding: 2rem 0;

  .sidebar {
    background-color: $color-white;
    padding: 2rem 0 0;

    .sidupgrade {
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      margin-bottom: 2rem;

      .upgrade {
        background-color: rgba(212, 176, 55, 0.1);
        height: 2rem;
        width: 10rem;
        border-radius: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 01px;

        img {
          margin-right: 0.5rem;
        }

        span {
          color: $color-gold;
          text-align: center;
          font-size: 0.8rem;
        }
      }

      h3 {
        font-weight: 600;
        letter-spacing: 0.5px;
      }
    }

    .sidebar-head {
      display: flex;
      padding: 0 1rem;

      .profile-pic {
        border-radius: 50%;
        margin-right: 1rem;
        // border: 1px solid;
        width: 3rem;
        height: 3rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }

        margin-right: 1rem;
      }

      .profile-name {
        .name {
          letter-spacing: 0.5px;
          font-size: 1.1rem;
        }

        .upload-photo {
          .input-file {
            visibility: hidden;
            position: relative;
            width: 8px;
          }

          .label-file {
            color: $color-primary;
            position: absolute;
            left: 6.2rem;
            font-size: 0.6rem;
          }
        }
      }
    }

    ul {
      list-style: none;
      padding: 1rem 0 0;

      li {
        color: $color-black;

        transition: all 0.3s;
        border-bottom: 1px solid $color-grey-light;

        img {
          margin-right: 1rem;
        }

        &:hover {
          background-color: rgba(26, 159, 134, 0.1);
        }

        a {
          padding: 1rem 2rem;
          text-decoration: none;
          position: relative;
          color: $color-black;
          display: flex;
          justify-content: space-between;
          align-items: center;

          img {
            margin-right: 1rem;
            height: 1rem;
          }

          span {
            font-size: 1rem;
          }

          .icon-arrow {
            margin-left: auto;
            height: 0.8rem;
          }

          a:link,
          a:visited {
            color: $color-black;
            text-decoration: none;
          }
        }

        &:focus {
          background-color: none;
        }
      }
    }

    button {
      background-color: $color-secondary;
      color: $color-white;
      width: 100%;
      padding: 0.6rem 1rem;
      font-size: 1rem;

      &:focus {
        outline: none;
      }
    }
  }

  // start user account/////////////////////////////////////
  .account-content {
    background-color: $color-white;
    padding: 1rem;
    height: 100%;

    .account-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;

      h3 {
        font-weight: 600;
        letter-spacing: 0.5px;
      }

      button {
        background-color: $color-primary;
        color: $color-white;
        width: 9.5rem;
        border-radius: 7px;
        height: 2.5rem;

        &:focus {
          outline: none;
        }
      }
    }

    .account-form {
      label {
        // font-size: 1.1rem;
        font-size: 0.9rem;
        color: $color-grey-light-5;
        // font-weight: 600;
        // letter-spacing: 0.5px;
      }

      .form-control {
        border: none;
        background-color: $color-grey-light-3;
        font-size: 1rem;
        color: $color-black;
        letter-spacing: 1px;

        &:focus {
          box-shadow: none;
        }

        &::placeholder {
          color: $color-black;
        }
      }
    }
  }

  // end/////////////////////////////////////////
  // start user wishlist//////////////////////////////////////////////////////
  .user-wishlist {
    background-color: $color-white;
    padding: 1rem;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .wishlist-head {
      h3 {
        font-weight: 600;
        letter-spacing: 0.5px;
      }
    }

    .wishlist-items {
      border-bottom: 2px solid #ccc;
      padding-bottom: 0.8rem;
      margin-top: 1.5rem;

      span {
        color: $color-grey-dark-6;
        font-weight: 600;
        margin-bottom: 1rem;
        font-size: 0.9rem;
        text-align: center;
      }
    }

    .wishlist-content {
      margin-top: 1rem;

      .counter {
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
          display: flex;

          .content-img {
            border: 1px solid #e5e5e5;
            margin-right: 1rem;
            height: 5rem;
            width: 5rem;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .details {
            p {
              margin-bottom: 0.5rem;
              font-size: 0.8rem;
            }

            .bold {
              font-weight: 600;
              margin-bottom: 0.5rem;
              font-size: 0.8rem;
            }

            .remove {
              span {
                color: $color-grey-dark-6;
                font-size: 0.7rem;
              }
            }
          }
        }
      }
    }

    .control {
      display: flex;
      margin-left: 1rem;

      span {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: $color-grey-light-1;

        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(2) {
          width: 3rem;
          border-radius: 50px;
          background-color: $color-white;
          border: 1px solid $color-grey-light-1;
          font-weight: 600;
        }

        &:not(:last-child) {
          margin-right: 0.3rem;
        }
      }
    }

    .bold2 {
      font-weight: bold;
      font-size: 1.3rem;
      margin-bottom: 0;
    }

    button {
      background-color: $color-primary;
      color: $color-white;
      border-radius: 4rem;
      width: 8rem;
      height: 2rem;
      letter-spacing: 0.7px;
      font-size: 0.9rem;
    }
  }

  // end///////////////////////////////////////////////////////////
  // start orders///////////////////////////////////////
  .user-orders {
    background-color: $color-white;
    padding: 2rem;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    h3 {
      font-weight: 600;
      letter-spacing: 0.5px;
    }

    .order-details {
      background-color: $color-grey-light;

      padding: 1rem;

      margin-top: 1.5rem;

      .order-discription {
        p {
          font-size: 0.9rem;
          font-weight: 600;
          // margin-bottom: .5rem;
        }

        .paragraph {
          margin-bottom: 0;
        }

        span {
          font-size: 0.9rem;
          letter-spacing: 0.1rem;
          text-align: right;
          display: block;
        }
      }

      .order-total {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        span {
          color: $color-primary;
          font-weight: 600;
        }

        p {
          margin-bottom: 0.5rem;
          font-size: 1rem;
          font-weight: 600;
        }

        a {
          background-color: $color-secondary;
          // color: $color-white;
          width: 8.2rem;
          height: 2.5rem;
          border-radius: 8px;
          margin-top: auto;
          text-align: center;
          cursor: pointer;

          .order-btn {
            color: $color-white;
            font-size: 0.9rem;
            margin: 0 auto;
            padding: 0;
            display: inline-block;
            line-height: 2.5rem;
            text-align: center;
            font-weight: 100;
          }
        }
      }
    }
  }

  // end//////////////////////////////////////////////////////
  // start user-reversation//////////////////////////////////////////////////
  .user-reversation {
    background-color: $color-white;
    padding: 1rem;

    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    h3 {
      font-weight: 600;
      letter-spacing: 0.5px;
    }

    .reversation-head {
      background-color: $color-grey-light;
      color: $color-black;
      padding: 0.9rem;
      margin-top: 1.5rem;
      font-weight: 600;
      font-size: 0.9rem;
    }

    .reversation-details {
      margin-top: 0.5rem;
      padding: 0.5rem 0.9rem;
      border: 0.4px solid $color-grey-dark-border;

      .row {
        margin-right: 0;
        align-items: center;

        .reversation-name {
          display: flex;
          align-items: center;

          span {
            font-size: 0.9rem;
            letter-spacing: 0.5px;
          }

          .image {
            border-radius: 50%;
            margin-right: 0.5rem;
            width: 2.5rem;
            height: 2.5rem;
            // border: 1px solid;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 100%;
            }
          }
        }

        .reversation-date {
          display: flex;
          flex-direction: column;

          .date {
            font-size: 0.9rem;
          }

          .time {
            color: $color-grey-dark-7;
            font-size: 0.9rem;
          }
        }

        .reveration-types {
          display: flex;
          flex-direction: column;

          .type {
            color: $color-grey-dark-7;
            font-size: 0.9rem;
          }
        }

        .cancel {
          display: flex;
          flex-direction: row;
          justify-content: center;
          color: $color-red;
          font-size: 0.9rem;

          img {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }

  // //////////////////////////end///////////////////////////
  // start subscribe-auction/////////////////////////////////////////////
  .subscribe-auction {
    background-color: $color-white;
    padding: 1rem;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    h3 {
      font-weight: 600;
      letter-spacing: 0.5px;
    }

    .subscribe-head {
      background-color: $color-grey-light;
      color: $color-black;
      padding: 0.9rem;
      margin-top: 1.5rem;
      font-weight: 600;
      font-size: 0.9rem;
    }

    .subscribe-body {
      border: 0.4px solid $color-grey-dark-border;
      margin-top: 0.5rem;
      padding: 0.2rem 0.5rem;

      .row {
        align-items: center;

        .auction {
          font-size: 0.9rem;
        }

        .end-date {
          display: flex;
          flex-direction: column;
          margin-left: 1rem;

          .date {
            font-size: 0.9rem;
          }

          .time {
            color: $color-grey-dark-7;
            font-size: 0.8rem;
          }
        }

        .price {
          font-size: 0.9rem;
        }

        .pay-time {
          display: flex;
          flex-direction: column;

          .pay {
            color: $color-primary;
            font-size: 0.9rem;
          }

          .date-time {
            color: $color-grey-dark-7;
            font-size: 0.8rem;
          }
        }

        .total {
          color: $color-secondary;
          font-size: 0.9rem;
        }
      }
    }
  }

  // end/////////////////////////////////////////////////
  // start my auction////////////////////////////////////////
  .my-auction {
    background-color: $color-white;
    padding: 1rem;
    height: 100%;
    // height: 40rem;
    overflow-x: hidden;
    overflow-y: auto;

    h3 {
      font-weight: 600;
      letter-spacing: 0.5px;
    }

    .auction-head {
      background-color: $color-grey-light;
      color: $color-black;
      padding: 0.9rem;
      margin-top: 1.5rem;
      font-weight: 600;
      font-size: 0.9rem;
    }

    .auction-body {
      margin-top: 0.5rem;
      padding: 0.2rem 0.9rem;
      border: 0.4px solid $color-grey-dark-border;

      .row {
        align-items: center;

        .name {
          font-size: 0.9rem;
        }

        .end-date {
          display: flex;
          flex-direction: column;

          .date {
            font-size: 0.9rem;
          }

          .time {
            color: $color-grey-dark-7;
            font-size: 0.7rem;
          }
        }

        .price {
          font-size: 0.9rem;
        }

        .total {
          color: $color-secondary;
          font-size: 0.9rem;
        }
      }
    }
  }

  ///////// // end/////////////////////
  //  start order-details//////////////////
  .order-detail {
    background-color: $color-white;
    padding: 1rem;
    height: 100%;
    // height: 40rem;
    overflow-x: hidden;
    overflow-y: auto;

    .order-details-head {
      border-bottom: 2px solid #ccc;

      .order-details-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          font-weight: 600;
          letter-spacing: 0.5px;
        }

        .cancel {
          background-color: rgba(255, 83, 83, 0.1);
          color: $color-red;
          border-radius: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 6rem;
          height: 2rem;
          font-size: 0.9rem;

          img {
            margin-right: 0.5rem;
          }
        }
      }

      .details {
        .row {
          align-items: center;
        }

        .order-discrip {
          margin-top: 1rem;

          p {
            margin-bottom: 0.5rem;
            text-align: right;
            display: block;
            color: $color-grey-light-5;
          }

          .paragraph {
            margin-bottom: 0.5rem;
            text-align: left;
            display: block;
            font-size: 0.8rem;
            font-weight: 600;
            color: $color-black;
          }
        }

        .order-total {
          display: flex;
          flex-direction: column;
          align-items: center;

          .total {
            font-size: 0.9rem;
            margin-bottom: 0.5rem;
            font-weight: 600;
          }

          span {
            color: $color-primary;
            font-weight: 600;
            font-size: 0.9rem;
          }
        }
      }
    }

    .shipment-details {
      margin-top: 1rem;

      h3 {
        font-weight: 600;
        letter-spacing: 0.5px;
        font-size: 1.5rem;
      }

      html,
      body {
        color: #681;
        background: #fff;
        min-width: 700px;
      }

      /* ---- Timeline ---- */
      ol {
        // content: "-------------------------------";
        position: relative;
        display: block;
        margin: 100px;
        height: 4px;
        background: #fff;
        border-top: 1px dashed #ccc;

        &::before {
          content: "";
          position: absolute;
          top: -12px;
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 10px;
          border: 12px solid $color-primary;
          z-index: 999;
          border-radius: 50%;
        }

        &::before {
          left: -5px;
        }

        /* ---- Timeline elements ---- */
        li {
          position: relative;
          display: inline-block;
          /* 	float: left; */
          width: 150px;
          font: bold 14px arial;
          height: 50px;

          .point3 {
            content: "";
            top: -11px;
            left: 67%;
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            border: 2px solid #ccc;
            border-radius: 50%;
            background: #fff;
            position: absolute;
          }

          .point2 {
            content: "";
            top: -11px;
            left: 117%;
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            border: 2px solid #ccc;
            border-radius: 50%;
            background: #fff;
            position: absolute;
          }
          .point4 {
            top: -82px;
            /* left: 316%; */
            left: 320%;
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            border: 2px solid #ccc;
            border-radius: 50%;
            background: #fff;
            position: absolute;
          }
          .point1 {
            content: "";
            top: -52px;
            left: 90%;
            display: block;
            width: 3.5rem;
            height: 3.5rem;
            border: 2px solid #ccc;
            border-radius: 50%;
            background: #fff;
            position: absolute;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }
          }
        }
      }

      ol {
        // content: "-------------------------------";
        // position: relative;
        // display: block;
        // margin: 100px;
        // height: 4px;
        // background: #fff;
        // border-top: 1px dashed #ccc;

        // &::before {
        //   content: "";
        //   position: absolute;
        //   top: -12px;
        //   display: block;
        //   width: 1.5rem;
        //   height: 1.5rem;
        //   border-radius: 10px;
        //   border: 12px solid $color-primary;
        //   z-index: 999;
        //   border-radius: 50%;
        // }

        // &::before {
        //   left: -5px;
        // }

        /* ---- Timeline elements ---- */
        li {
          // position: relative;
          // display: inline-block;
          // /* 	float: left; */
          // width: 150px;
          // font: bold 14px arial;
          // height: 50px;

          .point33 {
            content: "";
            top: -11px;
            left: 67%;
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            border: 2px solid #ccc;
            border-radius: 50%;
            background: #fff;
            position: absolute;
          }

          .point22 {
            content: "";
            top: -28px;
            left: 83%;
            display: block;
            width: 3.5rem;
            height: 3.5rem;
            border: 2px solid #ccc;
            border-radius: 50%;
            background: #fff;
            position: absolute;
          }
        }
        .point44 {
          top: -69px;
          /* left: 316%; */
          left: 320%;
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          border: 2px solid #ccc;
          border-radius: 50%;
          background: #fff;
          position: absolute;
        }
        .line {
          border-top: 2px solid $color-primary;

          .point11 {
            content: "";
            top: -30px;
            left: 90%;
            display: block;
            width: 3.5rem;
            height: 3.5rem;
            border: 2px solid $color-primary;
            border-radius: 50%;
            background: $color-primary;
            position: absolute;

            img {
              top: 7px;
              left: 13%;
              display: block;

              position: absolute;
            }
          }
        }
      }

      ol {
        // content: "-------------------------------";
        // position: relative;
        // display: block;
        // margin: 100px;
        // height: 4px;
        // background: #fff;
        // border-top: 1px dashed #ccc;

        // &::before {
        //   content: "";
        //   position: absolute;
        //   top: -12px;
        //   display: block;
        //   width: 1.5rem;
        //   height: 1.5rem;
        //   border-radius: 10px;
        //   border: 12px solid $color-primary;
        //   z-index: 999;
        //   border-radius: 50%;
        // }

        // &::before {
        //   left: -5px;
        // }

        /* ---- Timeline elements ---- */
        li {
          // position: relative;
          // display: inline-block;
          // /* 	float: left; */
          // width: 150px;
          // font: bold 14px arial;
          // height: 50px;

          .point333 {
            content: "";
            // content: "";
            top: -29px;
            left: 22%;
            display: block;
            width: 3.5rem;
            height: 3.5rem;
            border: 2px solid #ccc;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }
          }

          .point222 {
            content: "";
            top: -29px;
            left: 25%;
            display: block;
            width: 3.5rem;
            height: 3.5rem;
            border: 2px solid $color-primary;
            border-radius: 50%;
            background: $color-primary;
            position: absolute;
          }
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }
        .point444 {
          top: -69px;
          /* left: 316%; */
          left: 320%;
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          border: 2px solid #ccc;
          border-radius: 50%;
          background: #fff;
          position: absolute;
        }
        .point111 {
          content: "";
          top: -13px;
          left: 48%;
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          border: 2px solid #1fae93;
          border-radius: 50%;
          background: #1fae93;
          position: absolute;
          // .circle111 {
          //   top: 5px;
          //   left: 15%;
          //   display: block;
          //   width: 2rem;
          //   height: 2rem;
          //   border: 2px solid #fff;
          //   border-radius: 50%;
          //   background: #fff;
          //   position: absolute;
          // }
        }
      }

      ol {
        // content: "-------------------------------";
        // position: relative;
        // display: block;
        // margin: 100px;
        // height: 4px;
        // background: #fff;
        // border-top: 1px dashed #ccc;

        // &::before {
        //   content: "";
        //   position: absolute;
        //   top: -12px;
        //   display: block;
        //   width: 1.5rem;
        //   height: 1.5rem;
        //   border-radius: 10px;
        //   border: 12px solid $color-primary;
        //   z-index: 999;
        //   border-radius: 50%;
        // }

        // &::before {
        //   left: -5px;
        // }

        /* ---- Timeline elements ---- */
        li {
          // position: relative;
          // display: inline-block;
          // /* 	float: left; */
          // width: 150px;
          // font: bold 14px arial;
          // height: 50px;

          .point3333 {
            content: "";
            // content: "";
            top: -29px;
            left: -9%;
            display: block;
            width: 3.5rem;
            height: 3.5rem;
            border: 2px solid $color-primary;
            border-radius: 50%;
            background: $color-primary;
            position: absolute;
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }
          }

          .point4444 {
            top: -88px;
            /* left: 316%; */
            left: 313%;
            display: block;
            width: 3.5rem;
            height: 3.5rem;
            border: 2px solid #ccc;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }
          }

          .point2222 {
            content: "";
            top: -13px;
            left: -1%;
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            border: 2px solid $color-primary;
            border-radius: 50%;
            background: $color-primary;
            position: absolute;
          }
        }

        .point1111 {
          content: "";
          top: -13px;
          left: 48%;
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          border: 2px solid #1fae93;
          border-radius: 50%;
          background: #1fae93;
          position: absolute;
          // .circle111 {
          //   top: 5px;
          //   left: 15%;
          //   display: block;
          //   width: 2rem;
          //   height: 2rem;
          //   border: 2px solid #fff;
          //   border-radius: 50%;
          //   background: #fff;
          //   position: absolute;
          // }
        }
      }

      ol {
        // content: "-------------------------------";
        // position: relative;
        // display: block;
        // margin: 100px;
        // height: 4px;
        // background: #fff;
        // border-top: 1px dashed #ccc;

        // &::before {
        //   content: "";
        //   position: absolute;
        //   top: -12px;
        //   display: block;
        //   width: 1.5rem;
        //   height: 1.5rem;
        //   border-radius: 10px;
        //   border: 12px solid $color-primary;
        //   z-index: 999;
        //   border-radius: 50%;
        // }

        // &::before {
        //   left: -5px;
        // }

        /* ---- Timeline elements ---- */
        li {
          // background-color: #681;
          p {
            margin-bottom: 0;
          }
          // position: relative;
          // display: inline-block;
          // /* 	float: left; */
          // width: 150px;
          // font: bold 14px arial;
          // height: 50px;
          .data {
            display: flex;
            align-items: center;
            flex-direction: column;
            p {
              // margin-top: 1rem;
              margin-bottom: 0;
              // margin-left: -2rem;
            }
          }
          .point33333 {
            content: "";
            // content: "";
            top: -13px;
            left: 28%;
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            border: 2px solid $color-primary;
            border-radius: 50%;
            background: $color-primary;
            position: absolute;
          }

          .point44444 {
            top: -88px;
            /* left: 316%; */
            left: 313%;
            display: block;
            width: 3.5rem;
            height: 3.5rem;
            border: 2px solid $color-primary;
            border-radius: 50%;
            background: $color-primary;
            position: absolute;
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }
          }

          .point22222 {
            content: "";
            top: -13px;
            left: 48%;
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            border: 2px solid $color-primary;
            border-radius: 50%;
            background: $color-primary;
            position: absolute;
          }
        }

        .point11111 {
          content: "";
          top: -13px;
          left: 67%;
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          border: 2px solid #1fae93;
          border-radius: 50%;
          background: #1fae93;
          position: absolute;
          // .circle111 {
          //   top: 5px;
          //   left: 15%;
          //   display: block;
          //   width: 2rem;
          //   height: 2rem;
          //   border: 2px solid #fff;
          //   border-radius: 50%;
          //   background: #fff;
          //   position: absolute;
          // }
        }
      }
      .new {
        position: relative;
        display: block;
        margin: 100px;
        height: 4px;
        background: #fff;
        border-top: 1px dashed #ccc;
        &::before {
          content: "";
        }
        .circle {
          display: flex;

          span {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: $color-grey-light-1;
            // position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(2) {
              width: 2rem;
              height: 2rem;
              border-radius: 50%;
              background-color: $color-white;
              border: 1px solid $color-grey-light-1;
            }

            &:not(:last-child) {
              margin-right: 1rem;
            }
          }
        }
      }

      .orderd-placed {
        list-style: none;
        padding-left: 0;
        display: flex;

        li {
          display: inline-block;
          width: 50px;
          height: 50px;
          // background-color: red;
          border: 1px solid #ccc;
          background-color: #fff;
          border-radius: 50%;
          z-index: 999;
          img {
            position: absolute;
            /* top: 1rem; */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
&:last-child{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: $color-white;
  border: 1px solid $color-grey-light-1;
  // margin-top: -1rem;
}
          &:not(:last-child) {
            margin-right: 10%;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              
              left: 100%;
              width: 100px;
              height: 2px;
              top: 12px;
              border-top: 1px dashed #ccc;
              &:active{
                background-color: blue;
              }
              // background-color: blue;
            }

            &:nth-child(1) {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background-color: $color-primary;
              border: 1px solid $color-grey-light-1;
            }
            &:nth-child(2) {
              // position: absolute;
             margin-bottom: -1rem;
            //  bottom: -1rem;
            }
            &:nth-child(3) {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background-color:$color-white;
              border: 1px solid $color-grey-light-1;
            }
            &:nth-child(4) {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background-color: $color-white;
              border: 1px solid $color-grey-light-1;
            }
          
          }
        }
      }
      .order-confirm {
        list-style: none;
        padding-left: 0;
        display: flex;

        li {
          display: inline-block;
          width: 50px;
          height: 50px;
          // background-color: red;
          border: 1px solid #ccc;
          background-color: #fff;
          border-radius: 50%;
          z-index: 999;
          img {
            position: absolute;
            /* top: 1rem; */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &:last-child{
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: $color-white;
            border: 1px solid $color-grey-light-1;
            // margin-top: -1rem;
          }
          &:not(:last-child) {
            margin-right: 10%;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              left: 100%;
              width: 100px;
              height: 2px;
              top: 12px;
              border-top: 1px dashed #ccc;
              // background-color: blue;
            }

            &:nth-child(1) {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background-color: $color-primary;
              border: 1px solid $color-grey-light-1;
            }
            &:nth-child(2) {
              background-color: $color-primary;
              border: 1px solid $color-primary;
              //  margin-top: -1rem;
            }
            &:nth-child(3) {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: $color-white;
              border: 1px solid $color-grey-light-1;
              // margin-top: -1rem;
            }
            &:nth-child(4) {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background-color: $color-white;
              border: 1px solid $color-grey-light-1;
            }
            
          }
        }
      }
      .order-picked {
        list-style: none;
        padding-left: 0;
        display: flex;

        li {
          display: inline-block;
          width: 50px;
          height: 50px;
          // background-color: red;
          border: 1px solid #ccc;
          background-color: #fff;
          border-radius: 50%;
          z-index: 999;
          img {
            position: absolute;
            /* top: 1rem; */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &:last-child{
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color:$color-white;
            border: 1px solid $color-grey-light-1;
            // margin-top: -1rem;
          }
          &:not(:last-child) {
            margin-right: 10%;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              left: 100%;
              width: 100px;
              height: 2px;
              top: 12px;
              border-top: 1px dashed #ccc;
              // background-color: blue;
            }

            &:nth-child(1) {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background-color: $color-primary;
              border: 1px solid $color-grey-light-1;
            }
            &:nth-child(2) {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background-color: $color-primary;
              border: 1px solid $color-grey-light-1;
              // margin-top: -1rem;
            }
            &:nth-child(3) {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: $color-primary;
              border: 1px solid $color-primary;
              // margin-top: -1rem;
            }
            &:nth-child(4) {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: $color-white;
              border: 1px solid $color-grey-light-1;
              // margin-top: -1rem;
            }
          
          }
        }
      }
      .order-shiped {
        list-style: none;
        padding-left: 0;
        display: flex;

        li {
          display: inline-block;
          width: 50px;
          height: 50px;
          // background-color: red;
          border: 1px solid #ccc;
          background-color: #fff;
          border-radius: 50%;
          z-index: 999;
          // img {
          //   position: absolute;
          //   /* top: 1rem; */
          //   top: 50%;
          //   left: 50%;
          //   transform: translate(-50%, -50%);
          // }
          .box-image {
            // position: absolute;
            /* top: 1rem; */
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            margin-top: .7rem;
            margin-left: .5rem;
        }
&:last-child{
  // margin-top: -1rem;
}
          &:not(:last-child) {
            margin-right: 10%;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              left: 100%;
              width: 100px;
              height: 2px;
              top: 12px;
              border-top: 1px dashed #ccc;
              // background-color: blue;
            }

            &:nth-child(1) {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background-color: $color-primary;
              border: 1px solid $color-grey-light-1;
            }
            &:nth-child(2) {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background-color: $color-primary;
              border: 1px solid $color-grey-light-1;
            }
            &:nth-child(3) {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background-color: $color-primary;
              border: 1px solid $color-grey-light-1;
              // margin-top: -1rem;
            }
            &:nth-child(4) {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: $color-primary;
              border: 1px solid $color-primary;
              // margin-top: -1rem;
            }
         
          }
        }
      }
      .arrivedin {
        list-style: none;
        padding-left: 0;
        display: flex;

        li {
          display: inline-block;
          width: 50px;
          height: 50px;
          // background-color: red;
          border: 1px solid #ccc;
          background-color: #fff;
          border-radius: 50%;
          z-index: 999;
          .box-image {
            position: absolute;
            /* top: 1rem; */
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            margin-top: .7rem;
            margin-left: .5rem;
        }
          
          &:last-child{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $color-primary;
            border: 1px solid  $color-primary;
            margin-top: -1rem;
          }
          &:not(:last-child) {
            margin-right: 10%;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              left: 100%;
              width: 100px;
              height: 2px;
              top: 12px;
              border-top: 1px dashed #ccc;
              // background-color: blue;
            }

            &:nth-child(1) {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background-color: $color-primary;
              border: 1px solid $color-grey-light-1;
            }
            &:nth-child(2) {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background-color: $color-primary;
              border: 1px solid $color-grey-light-1;
            }
            &:nth-child(3) {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background-color: $color-primary;
              border: 1px solid $color-grey-light-1;
            }
            &:nth-child(4) {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background-color: $color-primary;
              border: 1px solid $color-grey-light-1;
            }
           
          }
        }
      }

      /* ---- Hover effects ---- */
      border-bottom: 2px solid #ccc;
    }

    .product-details {
      margin-top: 1rem;

      h3 {
        font-weight: 600;
        letter-spacing: 0.5px;
        font-size: 1.5rem;
      }

      .card {
        margin-top: 1rem;
        border: none;
        box-shadow: 0 2.5px 15px 0 rgba(36, 36, 36, 0.1);

        img {
          width: 100%;
          // height: 100%;
          object-fit: cover;
          border: none;
          // margin: 1rem;
          padding: 1rem;
        }

        .card-body {
          padding: 0.5rem;

          .name {
            font-size: 0.8rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
          }

          .seller {
            color: $color-grey-light-5;
            font-size: 0.7rem;
            margin-bottom: 0.5rem;
          }

          .price {
            font-weight: 600;
            font-size: 0.8rem;
            color: $color-primary;
            margin-bottom: 0.5rem;
          }

          .quntity {
            margin-bottom: 0;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
