.product {
    // padding: 1rem .5rem;

    .product-container {
        position: relative;

        .vendor-img {
            position: absolute;
            top: 0;
            left: 0;
            padding: .9rem .6rem;
            background-color: $color-white;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
            border-radius: 8px;
            z-index: 10;
        }

        .sale {
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgba(252, 103, 103, .1);
            color: #fc6767;
            
            padding: .4rem 1rem;
            z-index: 10;
            font-weight: 600;

            border-top-right-radius: 8px;
        }
    
        .card {
            border: none;
            box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.13);
            border-radius: 8px;
            transition: all .3s;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
    
            .card-hover {
    
                .product-img {
                    text-align: center;
                
                    padding-bottom: 0;
                    overflow: hidden;
    
                    img {
                        width: auto;
                        height: 250px;
                        max-width: 100%;
                        transition: all .3s;
                        object-fit: contain;
                    }
                }
    
                .card-body {
    
                    .info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
    
                        .rate {
                            background-color: $color-secondary;
                            color: $color-white;
                            padding: .3rem .6rem;
                            border-radius: 3px;
                            font-size: .8rem;
                            font-weight: 100;
    
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            img {
                                height: .75rem;
                                margin-left: 6px;
                            }
                        }
    
                        .price {
                            letter-spacing: .5px;
                            font-size: 1.1rem;
    
                            .discount {
                                
                                // text-decoration: line-through;
                                font-weight: 100;
                                color: #acacac;
                                position: relative;
    
                                &::after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    left: -14%;
                                    // transform: translateY(-50%);
                                    width: 128%;
                                    height: 1px;
                                    background-color: #acacac;
                                }
                            }
    
                            .original {
                                margin-left: .8rem;
                            }
                        }
                    }
    
                    > h6 {
                        margin-top: 1rem;
                        margin-bottom: 0;
                    }
    
                    > p {
                        font-size: .8rem;
                        font-weight: 100;
                        margin-bottom: 0;
                    }
    
                }
    
                &:hover {
    
                    .product-img {
    
                        img {
                            transform: scale(1.2);
                        }
                    }
                }
            }
    
            .actions {
                font-size: .8rem;
                overflow: hidden;
                height: 40px;

                .wishlist-btn,.add-cart-btn {
                    padding: .65rem 0;
                    font-weight: 100;
    
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    img {
                        margin-right: .5rem;
                    }
                }
    
                .wishlist-btn {
                    background-color: $color-grey-light-1;
                    color: $color-night-1;
                    font-weight: 400;
                    border-bottom-left-radius: 8px;
    
                    img {
                        height: .9rem;
                    }
    
                    &:hover {
                        background-color: $color-white;
                    }
                }
    
                .add-cart-btn {
                    background-color: $color-primary;
                    color: $color-white;
                    border-bottom-right-radius: 7px;
    
                    img {
                        height: 1.1rem;
                    }

                    &:hover {
                        background-color: $color-primary-dark;
                    }
                }

                .control {
                    padding: .65rem 0;
                    background-color: $color-primary;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    flex: 1 1 100%;
                    transition: all .5s ease-in-out;
                }

                .hide {
                    display: none;
                }

                .hide-btn {
                    flex: 2 2 0;
                    // transition: all .2s ease-in-out;
                    width: 0;
                }
            }

            &:hover {
                box-shadow: 0 0 0 1.5px $color-primary;
            }
        }
    }
}