// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
    min-height: 200px;
    background-color: $color-secondary;
    border: 2px solid $color-third;
    border-bottom: none;
    padding: 2rem 0 1rem;
    color: $color-white;

    .links {

        ul {
            list-style: none;
            padding-left: 0;
            font-size: 1.2rem;
            font-weight: 100;

            li:not(:last-child) {
                margin-bottom: 1rem;
            }

            a:link,
            a:visited {
                color: $color-white;
                text-decoration: none;
            }

            a:hover {
                color: $color-third;
            }
        }
    }

}